{% extends 'base.html' %}

{% block title %}Deletar Cliente{% endblock %}
{% block main %}
    <h1>Tem certeza que deseja deletar {{ person }}?</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim</button>
            <button type="reset" class="btn btn-outline-primary"><a href="{% url 'person_list' %}" style="text-decoration:none; color:inherit">Não</a></button>
        </form>    
{% endblock %}