<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
</head>
<body>
    <ul>
        {% for person in persons %}

            <li>
                <a href="{% url 'person_update' person.id %}">{{ person }}</a>
                <a href="{% url 'person_delete' person.id %}">Deletar</a>
            </li>

        {% endfor %}
    </ul>
    <br> 

    <a href="{% url 'person_new' %}">Cadastrar novo cliente</a>
</body>
</html>