{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block main %}
    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <ul class="list-group">
                {% for person in persons %}
        
                    <li class="list-group-item">
                        <a href="{% url 'person_update' person.id %}">{{ person }}</a>
                        <br>
                        <a href="{% url 'person_delete' person.id %}" class="btn btn-danger">Deletar</a>
                    </li>
        
                {% endfor %}
            </ul>
            <br> 
        
            <a href="{% url 'person_new' %}" class="btn btn-info">Cadastrar novo cliente</a>
        </div>

        <div class="col">
            {% if user.is_authenticated %}
            <p>Olá {{ user.username }} <a href="{% url 'my_logout' %}" class="btn btn-danger">Sair</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}